{% extends 'VictoireCoreBundle:Widget:show.html.twig' %}

{% block content %}

<div class="alert alert-{{ style }}">
    {{ message|raw }}

    {% if link.target == "ajax-modal" %}
    {% set targetTag = 'data-toggle=' ~ link.target %}
    {% else %}
    {% set targetTag = 'target="' ~ link.target|default('_parent') ~ '"' %}
    {% endif %}

    <a href="{{ vic_link_url(link.parameters) }}" title="{{hoverTitle}}" class="btn btn-{{ size }} btn-{{ style }}">
        {{ title|raw }}
    </a>

</div>
{% endblock content %}
